<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NUFT</title>

  <link rel="apple-touch-icon" sizes="180x180" href="../styles/images/Fav/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../styles/images/Fav/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../styles/images/Fav/favicon-16x16.png">
  <link rel="manifest" href="../styles/assets/images/Fav/site.webmanifest">
  <link rel="mask-icon" href="../styles/images/Fav/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" href="../styles/css/bootstrap.min.css">
  <link rel="stylesheet" href="../styles/css/fontawsom-all.min.css">
  <link rel="stylesheet" href="../styles/plugins/slider/css/owl.carousel.min.css">
  <link rel="stylesheet" href="../styles/plugins/slider/css/owl.theme.default.css">
  <link rel="stylesheet" href="../styles/css/style.css">
  
</head>
<body>
    
  <!-- ################# Header #######################--->
<header>
    <div class="header-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 col-md-12 left-item">
            <ul>
            </ul>
          </div>
          <div class="col-lg-5 right-item">
            <ul>
              <li><a href="Home.html"><i class="fas fa-language"></i> العربية</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <nav id="nav-head" class="header-nav">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-12 nav-img">
            <a href="Home.html">
              <img src="../../../assets/images/logo.png" alt="Logo">
            </a>
            <a data-toggle="collapse" data-target="#menu" href="#menu">
              <i class="fas d-block d-md-none small-menu fa-bars"></i>
            </a>
          </div>                    
          <div id="menu" class="col-md-9 d-none d-md-block nav-item">
            <ul>
              <li><a href="Home.html">Home</a></li>
              <li><a href="UniversitesGuide/Main.html">Universities Guidebooks</a></li>
              <li><a href="AdmissionStatus/Main.html">Admissions Status</a></li>
              <li><a href="CertificateCalculator/Main.html">Equivalent Certificates Calculator</a></li>
              <li><a href="News.html">News</a></li>
              <li><a href="ContactUs.html">Contact Us</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </header>  

    <!-- ################# Page Title #######################--->
    <div class="page-nav row">
                <h2>Universites Guidebooks</h2>
                <ul>
                    <li><a href="../../Home/EN/Home.html"><i class="fas fa-home"></i> Home</a></li>
                    <li><i class="fas fa-chevron-right"></i> <a href="../EN/Uni_Guide.html">Universities Guidebooks</a></li>
                </ul>
    </div>
    
<!-- ################# Cards Box #######################--->
<div class="Card-Box">
    <div class="container">
      <br>
        <div class="row Box-ro">
            <div class="col-md-4">
                <a href="UGRAD_Uni_Guide.html">
                    <div class="Box-card">
                        <img src="../../../assets/images/Uni Types/UGRAD.png" alt="National Universities">
                        <div class="Box-det" style="text-align: center;">
                            <h6>Undergraduagte</h6>
                        </div>
                    </div>
                </a>
            </div>        
            <div class="col-md-4">
                <a href="GRAD_Uni_Guide.html">
                    <div class="Box-card">
                        <img src="../../../assets/images/Uni Types/PGRAD.png" alt="Public Universities">
                        <div class="Box-det" style="text-align: center;">
                            <h6>Postraduagte</h6>
                        </div>
                    </div>
                </a>
            </div>          
        </div>
    </div>
</div>

<!-- ################# Smart Assistant #######################--->
<button id="smart-assistant-icon">
  <i class="fas fa-robot"></i>
  <span><br>SMART</span>
  <span>ASSISTANT</span>
</button>

<script>
document.getElementById("smart-assistant-icon").onclick = function () {
    location.href = "../../Guides/EN/Uni_Guide.html";
};
</script>

<!-- ################# Footer #######################--->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3 order-md-1 about">
        <div class="foot-address">
          <div class="icon">
            <i class="fas fa-envelope-square"></i>
          </div>
          <div class="addet">
            <a href="mailto:info@nufteg.com">info@nufteg.com</a>
          </div>
        </div>
        <div class="foot-address">
          <div class="icon">
            <i class="fab fa-whatsapp"></i>
          </div>
          <div class="addet">
            <a href="http://wa.me/201143545184">+20 114 3545184</a>
          </div>
        </div>
        <div class="social-icons" style="margin-top: 20px;">
          <a href="https://www.facebook.com/NUFT.EG" target="_blank" style="margin-Left: 13px; margin-right: 20px;"><i class="fab fa-facebook-f"></i></a>
          <a href="https://www.instagram.com/nuft.eg" target="_blank" style="margin-Left: 10px; margin-right: 20px;"><i class="fab fa-instagram"></i></a>
          <a href="https://X.com/NUFT_EG" target="_blank" style="margin-Left: 10px; margin-right: 20px;"><i class="fab fa-twitter"></i></a>
          <a href="https://www.tiktok.com/@NUFT.EG" target="_blank" style="margin-Left: 10px; margin-right: 20px;"><i class="fab fa-tiktok"></i></a>
          <br>
          <br>
          <a href="https://t.me/Egyptian_NAT_Universties_bot" target="_blank" style="margin-Left: 10px; margin-right: 20px;"><i class="fab fa-telegram"></i></a>
          <a href="https://www.linkedin.com/company/nufteg/" target="_blank" style="margin-Left: 8px; margin-right: 20px;"><i class="fab fa-linkedin"></i></a>
          <a href="https://www.youtube.com/@nuft_eg" target="_blank" style="margin-Left: 8px; margin-right: 20px;"><i class="fab fa-youtube"></i></a>
          <a href="https://www.threads.net/@nuft.eg" target="_blank" style="margin-Left: 8px; margin-right: 20px;"><i class="fas fa-at"></i></a>
        </div>      
      </div>
      <!-- Empty Space -->
      <div class="col-md-3 order-md-2">
      </div>
      <!-- Quick Links -->
      <div class="col-md-6 order-md-3 glink" style="margin-top: 20px;">
        <h2>Quick Links</h2>
        <div class="row">
          <div class="col-md-6">
            <ul>
              <li><a href="UniversitesGuide/Main.html"><i class="fas fa-angle-double-right"></i>National Universities Guidebook</a></li>
              <li><a href="UniversitesGuide/Main.html"><i class="fas fa-angle-double-right"></i>Public Universities Guidebook</a></li>
              <li><a href="UniversitesGuide/Main.html"><i class="fas fa-angle-double-right"></i>Private Universities Guidebook</a></li>
              <li><a href="UniversitesGuide/Main.html"><i class="fas fa-angle-double-right"></i>International Universities Guidebook</a></li>
              <li><a href="UniversitesGuide/Main.html"><i class="fas fa-angle-double-right"></i>Technological Universities Guidebook</a></li>
            </ul>
          </div>
          <div class="col-md-6">
            <ul>
              <li><a href="AdmissionStatus/Main.html"><i class="fas fa-angle-double-right"></i>National Universities Admissions Status</a></li>
              <li><a href="AdmissionStatus/Main.html"><i class="fas fa-angle-double-right"></i>Public Universities Admissions Status</a></li>
              <li><a href="AdmissionStatus/Main.html"><i class="fas fa-angle-double-right"></i>Private Universities Admissions Status</a></li>
              <li><a href="AdmissionStatus/Main.html"><i class="fas fa-angle-double-right"></i>International Universities Admissions Status</a></li>
              <li><a href="AdmissionStatus/Main.html"><i class="fas fa-angle-double-right"></i>Technological Universities Admissions Status</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="copy" style="text-align: center;">
  <div class="CopyRights">
      <p>2024 © All Rights Reserved | Designed and Developed by Youssef Badreldin</p>
  </div>
</div>

<script src="../../../assets/js/jquery-3.2.1.min.js"></script>
<script src="../../../assets/js/popper.min.js"></script>
<script src="../../../assets/js/bootstrap.min.js"></script>
<script src="../../../assets/plugins/slider/js/owl.carousel.min.js"></script>
<script src="../../../assets/js/script.js"></script>

</body>
</html>
