<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NUFT</title>
  
  <!-- Favicon and Touch Icons -->
  <link rel="apple-touch-icon" sizes="180x180" href="/images/Fav/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/Fav/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/Fav/favicon-16x16.png">
  <link rel="manifest" href="/images/Fav/site.webmanifest">
  <link rel="mask-icon" href="/images/Fav/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  
  <!-- SEO Meta Tags -->
  <meta name="description" content="Your website description here">
  <meta name="keywords" content="keyword1, keyword2, keyword3">
  
  <!-- Open Graph Meta Tags for Social Sharing -->
  <meta property="og:title" content="NUFT">
  <meta property="og:description" content="Your website description here">
  <meta property="og:image" content="URL to image">
  <meta property="og:url" content="URL to website">
  <meta property="og:type" content="website">
  
  <!-- Twitter Card Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="NUFT">
  <meta name="twitter:description" content="Your website description here">
  <meta name="twitter:image" content="URL to image">
  
  <!-- CSS Preloading for Critical CSS -->
  <link rel="preload" href="/css/bootstrap.min.css" as="style">
  <link rel="preload" href="/css/fontawsom-all.min.css" as="style">
  <link rel="preload" href="/plugins/slider/css/owl.carousel.min.css" as="style">
  <link rel="preload" href="/plugins/slider/css/owl.theme.default.css" as="style">
  <link rel="preload" href="/css/style.css" as="style">
  
  <!-- Stylesheets -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/fontawsom-all.min.css">
  <link rel="stylesheet" href="/plugins/slider/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/plugins/slider/css/owl.theme.default.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
