<!-- ################# Smart Assistant #######################--->
<button id="smart-assistant-icon">
    <i class="fas fa-robot"></i>
    <span><br>SMART</span>
    <span>ASSISTANT</span>
  </button>
  
  <script>
  document.getElementById("smart-assistant-icon").onclick = function () {
      location.href = "/UniversitiesGuide";
  };
  </script>