<!DOCTYPE html>
<html lang="en">
<% include partials/head %>
<body>
  <% include partials/header %>

  <!DOCTYPE html>
  <html lang="en">
  <% include partials/head %>
  <body>
    <% include partials/header %>
  
      <!-- ################# Page Title #######################--->
      <div class="page-nav row">
          <h2>Normal National Universities Guidebook</h2>
          <ul>
              <li><a href="../../Home.ejs"><i class="fas fa-home"></i> Home</a></li>
              <li><a href="../GuideMain.ejs"><i class="fas fa-chevron-right"></i> Universites Guidebooks</a></li>
              <li><a href="../UGRADGuide.ejs"><i class="fas fa-chevron-right"></i> Undergraduate</a></li>
              <li><a href="../NationalGuide.ejs"><i class="fas fa-chevron-right"></i> National Universities</a></li>
              <li><a href="Affiliated.ejs"><i class="fas fa-chevron-right"></i> Normal National Universities</a></li>
          </ul>
  </div>
  

<!-- ################# Cards Box #######################--->
<div class="Card-Box">
    <div class="container">
        <div class="session-title row">
        </div>
        <div class="row Box-ro">
            <div class="col-md-4">
                <a href="../../../Universites/EN/National/MansNU.html">
                    <div class="Box-card">
                        <img src="../../../../public/images/Logos/Universites/National/MansNU.png" alt="">
                        <div class="Box-det" style="text-align:center;">
                            <h6>Mansoura National University</h6>
                            <ul>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>        
            <div class="col-md-4">
                <a href="../../../Universites/EN/National/HNU.html">
                    <div class="Box-card">
                        <img src="../../../../public/images/Logos/Universites/National/HNU.png" alt="">
                        <div class="Box-det" style="text-align:center;">
                            <h6>Helwan National University</h6>
                            <ul>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="../../../Universites/EN/National/BNU.html">
                    <div class="Box-card">
                        <img src="../../../../public/images/Logos/Universites/National/BNU.png" alt="">
                        <div class="Box-det" style="text-align:center;">
                            <h6>Benha National University</h6>
                            <ul>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="../../../Universites/EN/National/BSNU.html">
                    <div class="Box-card">
                        <img src="../../../../public/images/Logos/Universites/National/BSNU.png" alt="">
                        <div class="Box-det" style="text-align:center;">
                            <h6>Beni Suef National University</h6>
                            <ul>
                            </ul>
                        </div>
                    </div>
                </a>
        </div>
        <div class="col-md-4">
            <a href="../../../Universites/EN/National/SVNU.html">
                <div class="Box-card">
                    <img src="../../../../public/images/Logos/Universites/National/SVNU.png" alt="">
                    <div class="Box-det" style="text-align:center;">
                        <h6>South Valley National University</h6>
                        <ul>
                        </ul>
                    </div>
                </div>
            </a>
    </div>
    <div class="col-md-4">
        <a href="../../../Universites/EN/National/ZNU.html">
            <div class="Box-card">
                <img src="../../../../public/images/Logos/Universites/National/ZNU.png" alt="">
                <div class="Box-det" style="text-align:center;">
                    <h6>Zagazig National University</h6>
                    <ul>
                    </ul>
                </div>
            </div>
        </a>
</div>
<div class="col-md-4">
    <a href="../../../Universites/EN/National/MiniaNU.html">
        <div class="Box-card">
            <img src="../../../../public/images/Logos/Universites/National/MiniaNU.png" alt="">
            <div class="Box-det" style="text-align:center;">
                <h6>Minia National University</h6>
                <ul>
                </ul>
            </div>
        </div>
    </a>
</div>
<div class="col-md-4">
    <a href="../../../Universites/EN/National/MenofiaNU.html">
        <div class="Box-card">
            <img src="../../../../public/images/Logos/Universites/National/MenofiaNU.png" alt="">
            <div class="Box-det" style="text-align:center;">
                <h6>Menoufia National University</h6>
                <ul>
                </ul>
            </div>
        </div>
    </a>
</div>
<div class="col-md-4">
    <a href="../../../Universites/EN/National/EPNU.html">
        <div class="Box-card">
            <img src="../../../../public/images/Logos/Universites/National/EPNU.png" alt="">
            <div class="Box-det" style="text-align:center;">
                <h6>East Port Said National University</h6>
                <ul>
                </ul>
            </div>
        </div>
    </a>
</div>
    <div class="col-md-4">
        <a href="../../../Universites/EN/National/AlexNU.html">
            <div class="Box-card">
                <img src="../../../../public/images/Logos/Universites/National/AlexNU.png" alt="">
                <div class="Box-det" style="text-align:center;">
                    <h6>Alexandria National University</h6>
                    <ul>
                    </ul>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-4">
        <a href="../../../Universites/EN/National/AssuitNU.html">
            <div class="Box-card">
                <img src="../../../../public/images/Logos/Universites/National/AssuitNU.png" alt="">
                <div class="Box-det" style="text-align:center;">
                    <h6>Assiut National University</h6>
                    <ul>
                    </ul>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-4">
        <a href="../../../Universites/EN/National/NINU.html">
            <div class="Box-card">
                <img src="../../../../public/images/Logos/Universites/National/NINU.png" alt="">
                <div class="Box-det" style="text-align:center;">
                    <h6>New Ismailia National University</h6>
                    <ul>
                    </ul>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-4">
        <a href="../../../Universites/EN/Under_Construction.html">
            <div class="Box-card">
                <img src="../../../../public/images/Logos/Universites/UnderConstruction.png" alt="">
                <div class="Box-det" style="text-align:center;">
                    <h6>Sohag National University</h6>
                    <ul>
                    </ul>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-4">
        <a href="../../../Universites/EN/Under_Construction.html">
            <div class="Box-card">
                <img src="../../../../public/images/Logos/Universites/UnderConstruction.png" alt="">
                <div class="Box-det" style="text-align:center;">
                    <h6>Ain Shams National University</h6>
                    <ul>
                    </ul>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-4">
        <a href="../../../Universites/EN/Under_Construction.html">
            <div class="Box-card">
                <img src="../../../../public/images/Logos/Universites/UnderConstruction.png" alt="">
                <div class="Box-det" style="text-align:center;">
                    <h6>Aswan National University</h6>
                    <ul>
                    </ul>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-4">
        <a href="../../../Universites/EN/Under_Construction.html">
            <div class="Box-card">
                <img src="../../../../public/images/Logos/Universites/UnderConstruction.png" alt="">
                <div class="Box-det" style="text-align:center;">
                    <h6>Fayoum National University</h6>
                    <ul>
                    </ul>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-4">
        <a href="../../../Universites/EN/Under_Construction.html">
            <div class="Box-card">
                <img src="../../../../public/images/Logos/Universites/UnderConstruction.png" alt="">
                <div class="Box-det" style="text-align:center;">
                    <h6>Damanhour National University</h6>
                    <ul>
                    </ul>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-4">
        <a href="../../../Universites/EN/Under_Construction.html">
            <div class="Box-card">
                <img src="../../../../public/images/Logos/Universites/UnderConstruction.png" alt="">
                <div class="Box-det" style="text-align:center;">
                    <h6>Kafr El Sheikh National University</h6>
                    <ul>
                    </ul>
                </div>
            </div>
        </a>
    </div>
</div>
</div>
</div>


<% include ../components/SmartAssistant %>
<% include ../components/footer %>
<% include ../components/scripts %>

</body>
</html>