<!DOCTYPE html>
<html lang="en">
<% include partials/head %>
<body>
  <% include partials/header %>

    <!-- ################# Page Title #######################--->
<div class="page-nav row">
            <h2>Normal National Universities Guidebook</h2>
            <ul>
                <li><a href="../../../Home/EN/Home.html"><i class="fas fa-home"></i> Home</a></li>
                <li><i class="fas fa-chevron-right"></i> <a href="../EN/Uni_Guide.html">Universites Guidebooks</a></li>
                <li><i class="fas fa-chevron-right"></i> <a href="../EN/UGRAD_Uni_Guide.html">Undergraduate</a></li>
                <li><i class="fas fa-chevron-right"></i> <a href="../../EN/National_Uni_Guide.html">National Universities</a></li>
                <li><i class="fas fa-chevron-right"></i> <a href="Normal_National_Uni_Guide.html">Normal National Universities</a></li>
            </ul>
</div>

<!-- ################# Cards Box #######################--->
<div class="Card-Box">
    <div class="container">
        <div class="session-title row">
        </div>
        <div class="row Box-ro">
            <div class="col-md-4">
                <a href="../../../Universites/EN/National/UFE.html">
                    <div class="Box-card">
                        <img src="../../../../assets/images/Uni Logos/National/UFE.png" alt="">
                        <div class="Box-det" style="text-align:center;">
                            <h6>French University in Egypt</h6>
                            <ul>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="../../../Universites/EN/National/NU.html">
                    <div class="Box-card">
                        <img src="../../../../assets/images/Uni Logos/National/NU.png" alt="">
                        <div class="Box-det" style="text-align:center;">
                            <h6>Nile University</h6>
                            <ul>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>        
            <div class="col-md-4">
                <a href="../../../Universites/EN/National/EELU.html">
                    <div class="Box-card">
                        <img src="../../../../assets/images/Uni Logos/National/EELU.png" alt="">
                        <div class="Box-det" style="text-align:center;">
                            <h6>Egyptian E-Learning University</h6>
                            <ul>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="../../../Universites/EN/National/EUI.html">
                    <div class="Box-card">
                        <img src="../../../../assets/images/Uni Logos/National/EUI.png" alt="">
                        <div class="Box-det" style="text-align:center;">
                            <h6>Egypt University of Informatics</h6>
                            <ul>
                            </ul>
                        </div>
                    </div>
                </a>                      
        </div>
        <div class="col-md-4">
            <a href="../../../Universites/EN/Under_Construction.html">
                <div class="Box-card">
                    <img src="../../../../assets/images/Uni Logos/Under_Construction.png" alt="">
                    <div class="Box-det" style="text-align:center;">
                        <h6>Elwatania National University</h6>
                        <ul>
                        </ul>
                      </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- ################# Smart Assistant #######################--->
<button id="smart-assistant-icon">
  <i class="fas fa-robot"></i>
  <span><br>SMART</span>
  <span>ASSISTANT</span>
</button>

<script>
document.getElementById("smart-assistant-icon").onclick = function () {
    location.href = "../../Guides/EN/Uni_Guide.html";
};
</script>

<% include ../components/footer %>
<% include ../components/scripts %>

</body>
</html>