<!DOCTYPE html>
<html lang="en">
<% include partials/head %>
<body>
  <% include partials/header %>

    <!-- ################# Page Title #######################--->
<div class="page-nav row">
            <h2>IGCSE</h2>
            <ul>
                <li><a href="../../Home/EN/Home.html"><i class="fas fa-home"></i> Home</a></li>
                <li><i class="fas fa-chevron-right"></i> <a href="Calculate_Equivalent.html">Equivalent Certificates Calculator</a></li>
                <li><i class="fas fa-chevron-right"></i> <a href="IGCSE.html">IGCSE</a></li>
            </ul>
</div>
  
  <!-- ################# Body #######################--->
  <div class="container mt-md-5 mt-3 mb-4">
    <div class="row">
        <!-- Score Calculation Section -->
        <div class="col-md-6 col-12">
            <div class="block p-4 mb-4 bg-white rounded-lg border">
                <h3 class="text-center"><strong>Calculate Your Score</strong></h3>
                <!-- IGCSE score form -->
                <div id="igcse" class="score-form">
                    <!-- IGCSE / O-Level -->
                    <div class="form-group">
                        <label for="igcse1">IGCSE / O-Level:</label>
                            <br><select>
                                <option value="1">0 A*</option>
                                <option value="2">1 A*</option>
                                <option value="3">2 A*</option>
                                <option value="4">3 A*</option>
                                <option value="5">4 A*</option>
                                <option value="6">5 A*</option>
                                <option value="7">6 A*</option>
                                <option value="8">7 A*</option>
                                <option value="9">8 A*</option>
                            </select>
                            <select>
                                <option value="1">0 A</option>
                                <option value="2">1 A</option>
                                <option value="3">2 A</option>
                                <option value="4">3 A</option>
                                <option value="5">4 A</option>
                                <option value="6">5 A</option>
                                <option value="7">6 A</option>
                                <option value="8">7 A</option>
                                <option value="9">8 A</option>
                            </select>
                            <select>
                                <option value="1">0 B</option>
                                <option value="2">1 B</option>
                                <option value="3">2 B</option>
                                <option value="4">3 B</option>
                                <option value="5">4 B</option>
                                <option value="6">5 B</option>
                                <option value="7">6 B</option>
                                <option value="8">7 B</option>
                                <option value="9">8 B</option>
                            </select>
                            <select>
                                <option value="1">0 C</option>
                                <option value="2">1 C</option>
                                <option value="3">2 C</option>
                                <option value="4">3 C</option>
                                <option value="5">4 C</option>
                                <option value="6">5 C</option>
                                <option value="7">6 C</option>
                                <option value="8">7 C</option>
                                <option value="9">8 C</option>
                            </select>                        
                    </div>

                    <!-- IGCSE / O-Level -->
                    <div class="form-group">
                        <label for="igcse2">IGCSE / O-Level:</label>
                        <br> <select>
                              <option value="1">0 9</option>
                              <option value="2">1 9</option>
                              <option value="3">2 9</option>
                              <option value="4">3 9</option>
                              <option value="5">4 9</option>
                              <option value="6">5 9</option>
                              <option value="7">6 9</option>
                              <option value="8">7 9</option>
                              <option value="9">8 9</option>
                          </select>
                          <select>
                              <option value="1">0 8</option>
                              <option value="2">1 8</option>
                              <option value="3">2 8</option>
                              <option value="4">3 8</option>
                              <option value="5">4 8</option>
                              <option value="6">5 8</option>
                              <option value="7">6 8</option>
                              <option value="8">7 8</option>
                              <option value="9">8 8</option>
                          </select>
                          <select>
                              <option value="1">0 7</option>
                              <option value="2">1 7</option>
                              <option value="3">2 7</option>
                              <option value="4">3 7</option>
                              <option value="5">4 7</option>
                              <option value="6">5 7</option>
                              <option value="7">6 7</option>
                              <option value="8">7 7</option>
                              <option value="9">8 7</option>
                          </select>
                          <select>
                              <option value="1">0 6</option>
                              <option value="2">1 6</option>
                              <option value="3">2 6</option>
                              <option value="4">3 6</option>
                              <option value="5">4 6</option>
                              <option value="6">5 6</option>
                              <option value="7">6 6</option>
                              <option value="8">7 6</option>
                              <option value="9">8 6</option>
                          </select>
                          <select>
                              <option value="1">0 5</option>
                              <option value="2">1 5</option>
                              <option value="3">2 5</option>
                              <option value="4">3 5</option>
                              <option value="5">4 5</option>
                              <option value="6">5 5</option>
                              <option value="7">6 5</option>
                              <option value="8">7 5</option>
                              <option value="9">8 5</option>
                          </select>
                          <select>
                              <option value="1">0 4</option>
                              <option value="2">1 4</option>
                              <option value="3">2 4</option>
                              <option value="4">3 4</option>
                              <option value="5">4 4</option>
                              <option value="6">5 4</option>
                              <option value="7">6 4</option>
                              <option value="8">7 4</option>
                              <option value="9">8 4</option>
                          </select>                        
                    </div>
                    
                    <!-- AS Levels  -->
                    <div class="form-group">
                        <label for="as">AS Levels:</label>
                          <br>
                        <select>
                            <option value="1">0 A</option>
                            <option value="2">1 A</option>
                            <option value="3">2 A</option>
                            <option value="4">3 A</option>
                            <option value="5">4 A</option>
                        </select>
                        <select>
                            <option value="1">0 B</option>
                            <option value="2">1 B</option>
                            <option value="3">2 B</option>
                            <option value="4">3 B</option>
                            <option value="5">4 B</option>
                        </select>
                        <select>
                            <option value="1">0 C</option>
                            <option value="2">1 C</option>
                            <option value="3">2 C</option>
                            <option value="4">3 C</option>
                            <option value="5">4 C</option>
                        </select>   
                        <select>
                          <option value="1">0 D</option>
                          <option value="2">1 D</option>
                          <option value="3">2 D</option>
                          <option value="4">3 D</option>
                          <option value="5">4 D</option>
                      </select>                     
                    </div>
                    
                    <!-- A Levels  -->
                    <div class="form-group">
                        <label for="a">A Levels:</label>
                          <br><select>
                            <option value="1">0 A*</option>
                            <option value="2">1 A*</option>
                            <option value="3">2 A*</option>
                            <option value="4">3 A*</option>
                        </select>
                        <select>
                            <option value="1">0 A</option>
                            <option value="2">1 A</option>
                            <option value="3">2 A</option>
                            <option value="4">3 A</option>
                        </select>
                        <select>
                            <option value="1">0 B</option>
                            <option value="2">1 B</option>
                            <option value="3">2 B</option>
                            <option value="4">3 B</option>
                        </select>
                        <select>
                            <option value="1">0 C</option>
                            <option value="2">1 C</option>
                            <option value="3">2 C</option>
                            <option value="4">3 C</option>
                        </select>  
                        <select>
                          <option value="1">0 D</option>
                          <option value="2">1 D</option>
                          <option value="3">2 D</option>
                          <option value="4">3 D</option>
                          <option value="5">4 D</option>
                      </select>                                   
                    </div>

                      <!-- Factor  -->
                      <div class="row mx-0 justify-content-center">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="withFactor">
                            <label class="form-check-label" for="withFactor">With factor?</label>
                        </div>
                        <input type="text" id="sportsBonusPercentage" readonly class="form-control d-inline-block w-auto text-center mt-2" placeholder="Sports Bonus Percentage">
                    </div>                    

                    <!-- Calculate button and result display -->
                    <div class="row mx-0 justify-content-center">
                        <button class="btn border mr-2 mt-2" onclick="calco();">Calculate score</button>
                        <input type="text" id="resulto" readonly class="form-control d-inline-block w-auto text-center mt-2" placeholder="Score percentage:   %">
                        <input type="text" id="resulto" readonly class="form-control d-inline-block w-auto text-center mt-2" placeholder="Government Score:    / 410">
                      </div>
                    </div>
                </div>
            </div>

        <div class="col-md-6 col-12 ">
          <div class="block bg-white p-4 mb-md-0 mb-4 rounded-lg border">
              <h3 style="text-align: center;"><strong>Important Notes</strong></h3>
              <p>
                  <strong>For Public universities:</strong>
                  <ul style="font-size: 0.8em;">
                      <li>- </li>
                      <li>- </li>
                      <li>- </li>
                      <li>- </li>
                  </ul>
              </p>
              <p>
                  <strong><br>For private & national universities:</strong>
                  <ul style="font-size: 0.8em;">
                      <li>- </li>
                      <li>- </li>
                      <li>- </li>
                  </ul>
              </p>
              <p>
                  <strong><br>For higher institutes:</strong>
                  <ul style="font-size: 0.8em;">
                      <li>- </li>
                      <li>- </li>
                  </ul>
              </p>
              <p>
                  <strong><br>General notes:</strong>
                  <ul style="font-size: 0.8em;">
                      <li>- </li>
                      <li>- </li>
                      <li>- </li>
                      <li>- </li>
                  </ul>
              </p>
          </div>
      </div>                     
        </div>
    </div>
</div>

<!-- ################# Smart Assistant #######################--->
<button id="smart-assistant-icon">
  <i class="fas fa-robot"></i>
  <span><br>SMART</span>
  <span>ASSISTANT</span>
</button>

<script>
document.getElementById("smart-assistant-icon").onclick = function () {
    location.href = "../../Guides/EN/Uni_Guide.html";
};
</script>

<% include ../components/footer %>
<% include ../components/scripts %>

</body>
</html>