
/* ===================================== Import Less ================================== */
@font-face {
  font-family: 'mouse-300';
  src: url("../fonts/RobotoSlab-Regular.ttf") format("truetype"); }
@font-face {
  font-family: 'mouse-500';
  src: url("../fonts/RobotoSlab-Bold.ttf") format("truetype"); }
/* ===================================== Basic CSS ================================== */
* {
  margin: 0px;
  padding: 0px;
  list-style: none; }

img {
  max-width: 100%; }

a {
  text-decoration: none;
  outline: none;
  color: #FFF; }

a:hover {
  color: #444; }

ul {
  margin-bottom: 0;
  padding-left: 0; }

a:hover,
a:focus,
input,
textarea {
  text-decoration: none;
  outline: none; }

.center {
  text-align: center; }

.left {
  text-align: left; }

.right {
  text-align: right; }

.cp {
  cursor: pointer; }

html, body {
  height: 100%; }

p {
  margin-bottom: 0px;
  width: 100%; }

.no-padding {
  padding: 0px; }

.no-margin {
  margin: 0px; }

.hid {
  display: none; }

.top-mar {
  margin-top: 15px; }

.h-100 {
  height: 100%; }

::placeholder {
  color: #747f8a !important;
  font-size: 13px;
  opacity: .5 !important; }

.container-fluid {
  padding: 0px; }

h1, h2, h3, h4, h5, h6 {
  font-family: "mouse-500", Arial, Helvetica, sans-serif; }

strong {
  font-family: "mouse-500", Arial, Helvetica, sans-serif; }

body {
  background-color: #f7f7ff !important;
  font-family: "mouse-300", Arial, Helvetica, sans-serif;
  color: #6A6A6A; }

.session-title {
  padding: 30px;
  margin: 0px; }
  .session-title h2 {
    width: 100%;
    text-align: center; }
  .session-title p {
    max-width: 850px;
    text-align: center;
    float: none;
    margin: auto; }
  .session-title span {
    float: right;
    font-style: italic; }

.inner-title {
  padding: 20px;
  padding-left: 0px;
  margin-bottom: 30px; }
  .inner-title h2 {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-family: "slab", Arial, Helvetica, sans-serif; }
  .inner-title p {
    width: 100%;
    text-align: center; }

    .page-nav {
      padding: 40px;
      text-align: center;
      padding-top: 160px;
      margin-bottom: 11; /* Adjust this value as needed */
      border: 1px solid rgb(0, 0, 0); /* Add a border */
      background-color: #fff; /* Add a background color */
    }    
  .page-nav ul {
    float: none;
    margin: auto; }
  @media screen and (max-width: 576px) {
    .page-nav {
      padding-top: 186px; } }
  @media screen and (max-width: 356px) {
    .page-nav {
      padding-top: 206px; } }
  .page-nav h2 {
    font-size: 36px;
    width: 100%;
    color: #444; }
    @media screen and (max-width: 600px) {
      .page-nav h2 {
        font-size: 26px; } }
  .page-nav ul li {
    float: left;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 16px; }
    .page-nav ul li i {
      width: 30px;
      text-align: center;
      color: #444; }
    .page-nav ul li a {
      color: #444; }

.btn-success {
  background-color: #223d50;
  border-color: #223d50; }
  .btn-success:hover {
    background-color: #223d50 !important;
    border-color: #223d50 !important; }
  .btn-success:active {
    background-color: #223d50 !important;
    border-color: #223d50 !important; }
  .btn-success:focus {
    background-color: #223d50 !important;
    border-color: #223d50 !important;
    box-shadow: none !important; }

.btn-info {
  background-color: #4f6dcd;
  border-color: #4f6dcd; }
  .btn-info:hover {
    background-color: #4f6dcd !important;
    border-color: #4f6dcd !important; }
  .btn-info:active {
    background-color: #4f6dcd !important;
    border-color: #4f6dcd !important; }
  .btn-info:focus {
    background-color: #4f6dcd !important;
    border-color: #4f6dcd !important;
    box-shadow: none !important; }

.btn {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 2px; }

.form-control:focus {
  box-shadow: none !important;
  border: 2px solid  #863dd9; }

.btn-light {
  background-color: #FFF;
  color: #3F3F3F; }

.collapse.show {
  display: block !important; }

.form-control:focus {
  box-shadow: none;
  border: 2px solid #863dd9 !important; }

.form-control {
  background-color: #F8F8F8;
  margin-bottom: 20px; }
  .form-control:focus {
    background-color: #FFF;
    border-color: #CCC; }

.container {
  max-width: 1100px; }
  @media screen and (max-width: 575px) {
    .container {
      padding: 10px 15px; } }

/* ===================================== Body CSS ================================== */
/* ===================================== Header CSS ================================== */
header {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  position: absolute;
  width: 100%;
  z-index: 999;
  background-color: #011D3D; }
  header .header-top {
    background-color: #223d50; }
    header .header-top .left-item ul li {
      float: left;
      color: #FFF;
      padding: 10px;
      font-size: .8rem; }
    header .header-top .right-item ul {
      float: right; }
      header .header-top .right-item ul li {
        float: left;
        color: #FFF;
        padding: 10px;
        font-size: .8rem; }
  header .header-nav .nav-item {
    z-index: 999; }
    header .header-nav .nav-item ul li {
      float: left;
      font-family: "mouse-500", Arial, Helvetica, sans-serif;
      font-size: 14px;
      padding: 16px; }
      @media screen and (max-width: 953px) {
        header .header-nav .nav-item ul li {
          padding: 30px 20px; } }
      @media screen and (max-width: 916px) {
        header .header-nav .nav-item ul li {
          padding: 30px 15px; } }
      @media screen and (max-width: 767px) {
        header .header-nav .nav-item ul li {
          float: none;
          padding: 14px;
          border-top: 1px solid #CCC; } }
  header .header-nav .nav-img img {
    width: 200px;
    padding: 3px;
    margin-top: 8px; }
  header .scroll-to-fixed-fixed {
    background-color: #FFF;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

.small-menu {
  float: right;
  color: #FFF;
  font-size: 32px;
  margin-top: 23px;
  margin-right: 12px; }

/* ===================================== Slider Style CSS ================================== */
.slider {
  position: relative;
  padding-top: 100px; }
  @media screen and (max-width: 767px) {
    .slider {
      padding-top: 50px; } }
  @media screen and (max-width: 450px) {
    .slider {
      padding-top: 150px; } }

.slider-captions {
  position: absolute;
  bottom: 160px;
  text-align: center; }
  @media screen and (max-width: 1050px) {
    .slider-captions {
      bottom: 100px !important; }
      .slider-captions .slider-title {
        font-size: 42px; } }
  @media screen and (max-width: 810px) {
    .slider-captions {
      bottom: 50px !important; }
      .slider-captions .slider-title {
        font-size: 32px; } }
  @media screen and (max-width: 572px) {
    .slider-captions {
      display: none; } }

.slider-title {
  font-size: 66px;
  color: #fff;
  letter-spacing: -3px;
  font-family: "mouse-300", Arial, Helvetica, sans-serif; }

.slider-text {
  margin-bottom: 20px;
  color: #fff; }

.slider-img {
  background: -moz-linear-gradient(top, rgba(45, 32, 44, 0.5) 0%, rgba(45, 32, 44, 0.5) 100%);
  background: -webkit-linear-gradient(top, rgba(45, 32, 44, 0.5) 0%, rgba(45, 32, 44, 0.5) 100%);
  background: linear-gradient(to bottom, rgba(45, 32, 44, 0.5) 0%, rgba(45, 32, 44, 0.5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc1b2429', endColorstr='#cc1b2429', GradientType=0);
  position: relative; }

.slider-img img {
  position: relative;
  z-index: -1; }

.slider .owl-nav .owl-prev, .slider .owl-nav .owl-next {
  color: #fff;
  display: inline-block;
  zoom: 1;
  margin: 5px;
  padding: 6px 12px;
  font-size: 22px;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  border-radius: 23px;
  background: transparent;
  filter: Alpha(Opacity=50);
  line-height: 1;
  border: 2px solid #fff; }

.owl-controls.clickable .owl-buttons div:hover {
  filter: Alpha(Opacity=100);
  opacity: 1;
  text-decoration: none;
  background-color: #fff; }

.slider .owl-nav .owl-prev {
  position: absolute;
  top: 40%;
  left: 15px; }

.slider .owl-nav .owl-next {
  position: absolute;
  top: 40%;
  right: 15px; }

.slider .owl-dots .owl-dot {
  position: relative;
  text-align: center;
  bottom: 40px;
  max-width: 1140px;
  margin: 0 auto;
  left: -75px; }

.slider .owl-dots .owl-dot span {
  display: block;
  width: 14px;
  height: 14px;
  margin: 0px 0px 10px 10px;
  filter: Alpha(Opacity=50);
  /*IE7 fix*/
  opacity: 0.8;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border: 2px solid #fff;
  float: left; }

.slider .owl-dots .owl-dot.active span {
  background-color: #fff; }

.slider .owl-dots .owl-dot.active span, .slider .owl-controls.clickable .owl-page:hover span {
  background-color: #fff;
  filter: Alpha(Opacity=100);
  /*IE7 fix*/
  opacity: 1; }

.slider .col-lg-offset-2 {
  float: none;
  margin: auto; }

/* ===================================== Categories Style CSS ================================== */
.Categories {
  margin-top: -39px;
  position: absolute;
  width: 100%;
  z-index: 999; }
  @media screen and (max-width: 838px) {
    .Categories {
      position: relative;
      z-index: 99; } }
  .Categories .key-row {
    width: 100%;
    display: flex;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
    @media screen and (max-width: 486px) {
      .Categories .key-row {
        display: block; } }
    .Categories .key-row .box {
      flex-grow: 1;
      text-align: center;
      padding: 60px 15px;
      color: #FFF; }
      .Categories .key-row .box i {
        font-size: 32px;
        margin-bottom: 20px; }
    .Categories .key-row .c1 {
      background-color: #5cd399; }
    .Categories .key-row .c2 {
      background-color: #43cb89; }

/* ===================================== Card Box Style CSS ================================== */
.Card-Box {
  padding: 0px;
  margin-top: -40px; }
  @media screen and (max-width: 940px) {
    .Card-Box {
      padding: 30px 10px; } }
  @media screen and (max-width: 838px) {
    .Card-Box  {
      margin-top: 0px; } }
  .Card-Box .Box-card {
    background-color: #FFF;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    margin-bottom: 15px; }
    .Card-Box .Box-card img {
      width: 100%; }
    .Card-Box .Box-card .Box-det {
      padding: 15px; }
      .Card-Box .Box-card .Box-det h6 {
        padding-bottom: 8px;
        border-bottom: 1px solid #CCC; }
      .Card-Box .Box-card .Box-det ul li {
        font-size: .85rem;
        padding: 5px; }
        .Card-Box .Box-card .Box-det ul li i {
          margin-right: 5px; }
        .Card-Box .Box-card .Box-det ul li span {
          float: right;
          font-size: .8rem;
          color: #43cb89; }
          .Box-det h6 {
            display: block;
            color: #000; /* Change this to the color you want */
        }
        
/* ===================================== Our Board Style CSS ================================== */
.Our-Board {
  padding: 50px;
  background-color: #FFF;
}

@media screen and (max-width: 940px) {
  .Our-Board {
    padding: 30px 10px;
  }
}

.Members-carousel {
  overflow: hidden;
  position: relative;
}

.Member-row {
  display: flex;
  transition: transform 0.5s ease-in-out;
  margin-bottom: -15px; /* Adjusting margin for better spacing */
}

.Member-card {
  background-color: #f4f4f4;
  padding: 15px;
  margin-right: 15px;
  text-align: center;
  width: 100%;
  box-sizing: border-box; /* Ensuring padding doesn't affect width */
  margin-bottom: 20px; /* Add space between rows */
}

.Member-card img {
  max-width: 120px;
  border-radius: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.Member-card h6 {
  margin-bottom: 0;
  font-size: 1rem; /* Slightly larger font size for better readability */
}

.Member-card p {
  font-size: .83rem;
  margin-bottom: 10px; /* Adding some bottom margin for spacing */
}


/* ===================================== About us CSS ================================== */
.About-Us {
  background-image: url("../images/slider/slider_2.jpg");
  background-attachment: fixed;
  background-size: cover; }
  .About-Us .inner-lay {
    background-color: rgba(6, 79, 90, 0.8);
    padding: 50px;
    color: #FFF; }
    @media screen and (max-width: 940px) {
      .About-Us .inner-lay {
        padding: 30px 10px; } }
    .About-Us .inner-lay .numb {
      text-align: center;
      padding: 30px; }
      .About-Us .inner-lay .numb h3 {
        font-size: 42px;
        padding-bottom: 10px;
        border-bottom: 1px solid #CCC;
        margin-bottom: 20px; }

/* ===================================== News CSS ================================== */
@media screen and (max-width: 500px) {
  .vbf {
    padding: 0px; } }

.news-card {
  display: flex;
  margin: auto;
  background-color: #FFF;
  padding: 15px 0px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  margin-bottom: 20px; }
  @media screen and (max-width: 500px) {
    .news-card .col-2 {
      padding-right: 0px;
      padding-left: 7px; } }
  .news-card .date-box {
    border: 1px solid #43cb89;
    padding: 10px;
    text-align: center; }
    .news-card .date-box p {
      font-family: "mouse-500", Arial, Helvetica, sans-serif;
      font-size: 34px; }
      @media screen and (max-width: 500px) {
        .news-card .date-box p {
          font-size: 1rem; } }
  .news-card .img-cv {
    text-align: center;
    margin: auto; }
    .news-card .img-cv img {
      width: 150px; }
  .news-card .setv {
    margin: auto; }
    @media screen and (max-width: 500px) {
      .news-card .setv h4 {
        font-size: 1rem; }
      .news-card .setv ul li {
        font-size: 0.8rem; } }
        .setv h4 a {
          color: #000; /* Change the color to what suits your design */
          text-decoration: none; /* Removes the underline */
      }
      
      .setv h4 a:hover {
          color: #000; /* Keeps the color the same even when hovered */
      }
      
/* ===================================== Footer Cover Style  ================================== */
footer {
  padding: 50px;
  background-color: #223d50;
  color: #FFF;
}

@media screen and (max-width: 940px) {
  footer {
    padding: 30px 10px;
  }
}

footer .about .foot-address {
  display: flex;
}

footer .about .foot-address .icon {
  padding: 20px 10px;
}

footer .about .foot-address .addet {
  font-size: .9rem;
  margin: auto 0px;
}

footer .glink ul li {
  padding: 10px;
}

footer .glink ul li a {
  color: #FFF;
  font-size: 12px;
}


footer .glink ul li i {
  margin-right: 10px;
}

footer .glink ul li a {
  color: #FFF;
}

.copy {
  padding: 20px;
  background-color: #172d3c;
  color: #FFF;
}

.copy a {
  color: #FFF;
  font-size: .8rem;
}

.copy span {
  float: right;
}

.copy span i {
  margin-right: 20px;
}

/* ===================================== universites style Style  ================================== */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

section {
  margin: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

table, th, td {
  border: 1px solid #ddd;
  padding: 5px;
  text-align: center; 
  font-size: 0.6em;
  overflow: hidden;
  text-overflow: ellipsis;
}

th {
  background-color: #35424a;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

button {
  background-color: #35424a;
  color: white;
  padding: 10px 20px;
  margin: 20px 0;
  border: none;
  cursor: pointer;
  text-align: center;
  display: inline-block;
}

button:hover {
  background-color: #45a049;
}

/* Media query for screens larger than 768px */
@media (min-width: 768px) {
  table, th, td {
      padding: 15px;
      font-size: 1em;
  }
}

/* Media query for screens smaller than 768px */
@media (max-width: 767px) {
  table, th, td {
      padding: 5px;
      text-align: center;
      font-size: 0.46em;
  }

  /* Specific style for university names on mobile */
  td:first-child {
      font-size: 0.46em; /* Decrease font size */
  }
}


/* === Social Media Links Style  ==== */

.social-right-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.social-right-item ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.social-right-item ul li {
  margin-right: 10px;
}

.social-right-item ul li a {
  color: #000; /* Change this to the color you want for the icons */
  text-decoration: none;
}

.social-right-item ul li a:hover {
  color: #888; /* Change this to the color you want when hovering over the icons */
}
