<!DOCTYPE html>
<html lang="en">
<% include ../components/head %>
<body>
  <% include ../components/header %>

<!-- ################# Slider #######################--->
<div class="slider">
  <div class="owl-carousel">
    <!-- Slide 1 -->
    <div class="item">
      <div class="slider-img"><img src="../public/images/slider/slider-1.jpg" alt="Slider Image 1"></div>
      <div class="row">
        <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
          <div class="slider-captions">
            <h1 class="slider-title">Your Comprehensive Guide to Universities in Egypt</h1>
          </div>
        </div>
      </div>
    </div>
    <!-- Slide 2 -->
    <div class="item">
      <div class="slider-img"><img src="../public/images/slider/slider-2.jpg" alt="Slider Image 2"></div>
      <div class="row">
        <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
          <div class="slider-captions">
            <h1 class="slider-title">Explore Your Options with Our Universities Guide</h1>
          </div>
        </div>
      </div>
    </div>
    <!-- Slide 3 -->
    <div class="item">
      <div class="slider-img"><img src="../public/images/slider/slider-3.jpg" alt="Slider Image 3"></div>
      <div class="row">
        <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
          <div class="slider-captions">
            <h1 class="slider-title">Start Your Journey with Our Universities Guide</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>  
        
<!-- ################# About Us #######################--->
<div class="About-Us">
  <div class="inner-lay">
    <div class="container">
      <div class="row session-title">
        <h2>About US</h2>
        <p>We are a voluntary team of students from various Egyptian universities, aiming to assist those interested in applying to Egyptian universities.</p>
      </div>
      <div class="row">
        <div class="col-sm-3 numb">
          <h3>4+</h3>
          <span>Years of Experience</span>
        </div>
        <div class="col-sm-3 numb">
          <h3>106+</h3>
          <span>Team Members</span>
        </div>
        <div class="col-sm-3 numb">
          <h3>7+</h3>
          <span>Guidebooks Published</span>
        </div>
        <div class="col-sm-3 numb">
          <h3>115k+</h3>
          <span>Guidebooks Visits</span>
        </div>
      </div>
    </div>
  </div>
</div>  
   
<!-- ################# Our Team #######################--->
<div class="Our-Team">
<div class="container">
  <div class="session-title row">
    <h2>Our Team</h2>
  </div>
  <div class="Member-row row">
    <!-- Team members go here -->
  </div>
</div>
</div>
         
 <!-- ################# Latest News #######################--->
<div class="Latest-News">
    <div class="container">
      <div class="session-title row">
        <h2>Latest News</h2>
      </div>
      <div class="row-news row">
        <!-- Latest news goes here -->
      </div>
    </div>
  </div>  

  <% include ../components/SmartAssistant %>
  <% include ../components/footer %>
  <% include ../components/scripts %>
  
  </body>
  </html>
