<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../components/Head') %>
  <style>
    .auth-buttons {
      text-align: center; /* Center align the buttons */
    }
  </style>
</head>
<body>

  <div class="auth-container">
    <div class="auth-form-container">
      <!-- Logo -->
      <div class="auth-logo">
        <img src="/images/logo2.png" alt="Logo">
      </div>
      <!-- Login Form -->
      <div class="auth-session-title">
        <h2>Welcome to NUFT</h2>
      </div>
      <div class="auth-buttons">
        <a href="/auth/login" class="btn btn-primary">Login</a>
        <a href="/auth/signup" class="btn btn-secondary">Signup</a>
      </div>
    </div>
  </div>

  <%- include('../components/Scripts') %>
</body>
</html>
